<!DOCTYPE html>
<html>
<head>
  <title>BreederOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="go_to_above">
  <a href="#">ページ最上部へ</a>
</div>

<div class="go_to_top">
  <a href="/">トップページへ</a>
</div>

<%= yield %>

</body>
</html>
